body {
  font-family: 'Open-sans', sans-serif;
}

i, text, .navbar-text, .navbar-brand, .filters, #interval, #age {
  /* via http://stackoverflow.com/questions/69430/is-there-a-way-to-make-text-unselectable-on-an-html-page */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
.container {
  width: 100%;
  max-width: 2500px;
  padding: 20px 0;
}
nav {
  font-family: 'Raleway', sans-serif;
}
.navbar {
  margin-bottom: 0;
  width:100%;
  position: absolute;
  top:0;
  left:0;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  /*padding:0.1em;*/
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: rgba(71,76,80,0.93);
}
.navbar-default {
  background-color: rgba(71,76,80,0.93);
  z-index: 99;
  border-color: rgba(0,0,0,0);
}
.navbar-default .navbar-brand {
  color: rgb(245,245,245);
  font-size: 1.2em;
}
.navbar-brand {
  padding:0.4em;
  line-height: 35px;
}
.brand-small {
  font-size: 0.6em;
}
.navbar-text {
  font-size:0.9em;
}
.navbar-default .navbar-nav>li>a {
  color: rgb(245,245,245);
}
.navbar-default .navbar-nav>.dropdown>a .caret {
  border-top-color: rgb(245,245,245);
  border-bottom-color: rgb(245,245,245);
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: rgb(245,245,245);
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: rgb(245,245,245);
}
#aboutModal > .modal-dialog > .modal-content > .modal-header > .modal-title {
  font-family: 'Raleway', sans-serif;
  color: #000;
  letter-spacing: 0.05em;
  font-size: 1.5em;
}
#helpModal > .modal-dialog > .modal-content > .modal-header > .modal-title {
  font-family: 'Raleway', sans-serif;
  color: #000;
  letter-spacing: 0.05em;
  font-size: 1.5em;
}
.modal-title > small {
  font-size: 0.6em;
  margin-left: 5px;
}
#helpModal > .modal-dialog {
  left:0;
  width:100%;
  color:#fff;
}
#helpModalContent {
  background-color:rgba(0,0,0,0);
  border: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
}
.helpModalTitle {
  text-align: center;
  margin-top:-60px;
}
.helpModalTitle > h2 {
  font-family: 'Raleway', sans-serif;
}
.helpModalClose {
  position: absolute;
  right: 1em;
  color: #fff;
  margin-top: -40px;
  cursor: pointer;
}
.helpModalClose:active {
  color:rgb(255, 153, 44);
}
.binContent > tbody > tr > td {
  font-size: 0.9em;
  vertical-align: top;
}
.binContentNoFmm {
  width:35%;
}
.warningText {
  text-align: left;
}
.warning {
  font-size: 0.85em;
  color: #777;
}
.general {
  color: #777;
}
.nationalParks > i {
  color: #FF4136;
}
.federalLands > i {
  color: #eecd00;
}
.fa-warning {
  margin-right: 10px;
}
.binID {
  display: none;
}
.table tbody>tr>td, .table tbody>tr>th, .table tfoot>tr>td, .table tfoot>tr>th, .table thead>tr>td, .table thead>tr>th {
  vertical-align: top;
}
#formationTable {
  margin-left: -6px;
  font-size: 1.2em;
}
.exampleRow {
  margin-left: 80px;
}
#exampleRowOne {
  margin-bottom:15px;
}
#exampleRowOne > div {
  text-align:center;
}
#exampleRowOne > div > h3 {
  font-family:'Raleway';
}
.examples > button {
  box-shadow: 0 5px 15px rgba(245,245,245,.5);
  -webkit-box-shadow: 0 5px 15px rgba(245,245,245,.5);
  -moz-box-shadow: 0 5px 15px rgba(245,245,245,.5);
}
.goToApp {
  text-align: center;
}
.exampleRow.goToApp {
  margin-top: 2em;
  font-family: 'Raleway', sans-serif;
}
.helpModalControls {
  position: absolute;
  top: 2em;
  left: 3em;
  line-height: 45px;
}
.helpModalControls.right {
  right: 84px;
  left: inherit;
}
.helpModalControls.right > .helpModalControlLabel > i {
  margin-left: 5px;
}
.helpModalControlLabel {
  color: #ddd;
}
.helpModalControlLabel > p {
  display: inline;
  padding-bottom: 5px;
  padding-left:5px;
  font-size: 1em;
}
.helpModalTimescaleLabel {
  position: absolute;
  color:#ddd;
  text-align: center;
}
.helpModalTimescaleLabel.click {
  left:1em;
}
.helpModalTimescaleLabel.dblclick {
  right:1em;
}
.helpModalTimescaleLabel > p{
  font-size: 1em;
  margin:0;
}

.show-more-collections {
  text-align: center;
  padding-top: 22px;
  cursor: pointer;
}
#collectionLoading {
  display: none;
}
.stackedCollectionTitle {
  display:inline;
}

.collectionExpand {
  float:right;
  color: #bbb;
}

.navbar-default .navbar-link {
color: rgb(245,245,245);
}
#graphics {
  padding-left:0;
  padding-right:0;
}
#graphicRow {
  width:100%;
  margin-top: 33px;
  visibility: hidden;
}
#mapContainer {
  display: inline;
  position: relative;
}
#map {
  height:400px;
  width:100%;
}
.leaflet-bottom.leaflet-right {
  z-index: 0;
}
.leaflet-control-attribution {
  line-height: 1em;
}
#svgMap > svg {
  min-height: 329px;
}
#reconstructMap > svg {
  min-height: 329px;
}
#mapControlCover {
  position: absolute;
  z-index: 2000;
  width:49px;
  display: none;
}
#controlCover1 {
  height:99px;
  background-color:rgba(0,0,0,0.4);
}
#controlCover2 {
  position: absolute;
  width:49px;
  height:49px;
  top: 277px;
  background-color:rgba(0,0,0,0.4);
}
#mapControls {
  position: absolute;
  z-index: 10;
  pointer-events: none;
}
.countries {
  stroke: #000;
  fill: #FEFBFB;
  stroke-width: 0.5;
}
.bins {
  fill: #EFEE69;
  stroke: #aaa;
  stroke-width:0.02em;
  opacity:0.7;
}
.bins:hover {
  stroke:#222;
  stroke-width:1px;
}
.svgbins {
  fill: #EFEE69;
  stroke: none;
  opacity:0.7;
}
.svgbins:hover {
  stroke:#222;
  stroke-width:1px;
}
.clusters {
  fill: #72BBDF;
  stroke: none;
  opacity:0.7;
}
.clusters:hover {
  stroke:#222;
  stroke-width:1px;
}
.time {
  height:30px;
  width:30px;
  cursor: pointer;
}
.timeToggler.leaflet-control {
  left:50px;
  margin-top:130px;
  position: absolute;
  width:170px;
  padding:10px;
  vertical-align: middle;
  display:none;
}
.rotate {
  height:30px;
  width:30px;
  margin-top:15px;
  cursor: pointer;
  margin:0;
}
#rotateIcon {
  height:30px;
  width:30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../img/wegener.png');
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.reconstructToggler.leaflet-control {
  left:50px;
  margin-top:130px;
  position: absolute;
  width:170px;
  padding:10px;
  vertical-align: middle;
  display:none;
}
#statsDialogue {
  width: 95%;
}
.stats > a {
  color:#000;
}
.stats > a:hover {
  color:#000;
  text-decoration: none;
}
#diversityWait {
  position: absolute;
  margin-left: 40%;
  margin-top: 10%;
}
.prevalence-row {
  position: absolute;
  z-index: 10;
  background-color: rgba(255,255,255,0.95);
  right: 0;
  width: auto;
  border-left: 1px solid #ccc;
  padding: 5px;
}
.prevalence-container, .prevalence-summary {
  text-align: center;
}
.prevalence-summary {
  width: 79px;
  height: 100%;
}
.prevalent-taxon {
  display: inline-block;
  padding: 8px;
  text-align: center;
  cursor: pointer;
}
.prevalent-taxon > p {
  font-size: 0.7em;
}
.prevalent-summary-taxon {
  padding: 2px 2px;
}
.prevalent-summary-taxon > img {
  height: 35px;
}
.save > a {
  color:#000;
}
.save > a:hover {
  color:#000;
  text-decoration: none;
}
.userToggler.leaflet-control {
  left:49px;
  margin-top:230px;
  position: absolute;
  width:16em;
  padding:10px;
  vertical-align: middle;
  font-size: 0.8em;
  display:none;
}
.taxaToggler.leaflet-control {
  left:49px;
  margin-top:182px;
  position: absolute;
  width:18em;
  padding:10px;
  vertical-align: middle;
  font-size: 0.8em;
  display:none;
}
#taxaForm {
  padding-bottom: 5px;
}
.taxaRank {
  color:#aaa;
  font-size: 80%;
  float:right;
  letter-spacing: 0.05em;
}
#infoContainer {
  position: absolute;
  z-index: 2;
  background-color: rgba(255,255,255,0.95);
  border-top: 1px solid #ddd;
  border-left: 1px solid #ccc;
  display: block;
  right: 0;
  z-index: 100;
  bottom:16px;
  min-height: 52px;
  min-width: 110px;
}
.info {
  display: none;
  padding: 10px;
  font-size: 0.8em;
}
.filters {
  position: absolute;
  z-index: 2;
  padding: 10px;
  background-color: rgba(255,255,255,0.95);
  border: 1px solid #ccc;
  text-align: center;
  display: none;
  left:0;
  bottom:16px;
}
.filters > p {
  display: inline;
}
.filter {
  display: none;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 5px;
  background-color: #fff;
  color: #777;
  margin-top:3px;
}
.filter > button {
  float:left;
  margin-right:5px;
}

.customControl {
  background-color: rgba(255,255,255,0.97);
  font-weight: bold;
  border-right:1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 1;
  padding:2px;
}
.mapCtrl {
  height:45px;
  width:45px;
  display: block;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.mapCtrl:hover {
  /*background-color:#ccc;
  box-shadow: inset 3px 0 0 #ff992c;*/
}
.mapCtrl > i {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 25px;
}
.mapCtrl > a > i {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 25px;
}
.mapCtrl > .fa-minus {
  height:16px;
}
.mapCtrl > .fa-plus {
  height:16px;
}
.zoom-in:active {
  color:rgb(255, 153, 44);
}
.zoom-out:active {
  color:rgb(255, 153, 44);
}
.save > a > i:active {
  color:rgb(255, 153, 44);
}
.collection {
  fill: #EFEE69;
  opacity:0.7;
}
.collection:hover {
  stroke:#222;
  stroke-width:1px;
}
td {
  font-size: 0.8em;
  color:#555;
}
td:first-child {
  width:150px;
}
#stats {
  width:100%;
  display: table;
}
.statContainer {
  text-align: center;
  display:table-cell;
  width:14.2857%;
  padding-bottom: 10px;
  border-left:2px dotted white;
  background-color:#bbb;
  color:#fff;
}
.statContainer:hover {
  background-color:#5BBBD5;
}
#clusterTable {
  cursor: pointer;
}
.firstRow {
  border-top: 0;
}
/*Reconstruct map */
.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}
.fill {
  fill: #000;
}
#reconstructMap {
  width:100%;
  display: none;
}

#gplatesLogo {
  height:35px;
  float:left;
  margin-right:10px;
  display: inline;
}
#gplatesText {
  font-size: 1em;
  margin-top:11px;
  display: inline;
}
#reconstructMapStats {
  display: inline;
}
#gPlatesLogoLink > a {
  float:left;
}
#interval {
  display: inline;
}
#age {
  display: inline;
  font-size: 0.8em;
}
#mapSwitch {
  display: block;
}
#reconstructMapRefContainerContainer {
  float:right;
}
#reconstructMapRefContainer {
   position: relative;
}
#reconstructMapReference {
  background-color: rgba(255,255,255,0.9);
  padding:6px 0 0 10px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  font-size:0.8em;
  width:21em;
  right:1.2em;
  position: absolute;
  border-radius: 3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}
.gplatesRotationInterval {
  border-top:0;
}
.plates {
  fill: #ffffff;
  stroke: none;
  stroke-width: 0.05em;
  opacity:1;
}
.coastlines {
  fill: none;
  stroke: #dddddd;
  stroke-width: 0.75px;
}

#loading {
  position: absolute;
  top: 0.15em;
  left: 50px;
  z-index: 100;
  color:#999;
  display: none;
}
.panel-default {
  border:none;
}
.panel {
  border: none;
  box-shadow: none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
}
.panel-default>.panel-heading {
  background-color: #f7f7f7;
}
.panel-group .panel {
  border-radius: 2px;
  border-bottom: 1px solid #eee;
}
.panel-heading {
  padding:7px 15px;
}
.panel-title {
  font-size: 0.95em;
  font-weight: 200;
  color:#555;
}
.panel-title:hover {
  color:#111;
}
.accordion-toggle:hover {
  text-decoration: none;
}

#taxaBrowser {
  display: none;
}
.taxonTitle {
  color:#000;
}
#collapseTaxaBrowser {
  font-size:0.8em;
  color:#777;
}
#collapseTaxaBrowser:hover {
  cursor: pointer;
  text-decoration: underline;
}
#collapseTaxaBrowser > i {
  margin-right:5px;
}
.examples {
  text-align: center;
}
.examples > button> img {
  height:78px;
}
.examples > button > p {
  margin-top: 15px;
  font-weight: 100;
}
.btn-lg {
  padding:25px;
}
rect:active {
  stroke:#000;
}

ol {
  width:100%;
}
ol li {
  float:left;
  width:15em;
}
br {
  clear:left;
}
#taxaFilterInput {
  width:50%;
  display: inline;
}
.subtaxaModalLegend {
  font-style: italic;
  font-size: 0.8em;
}
.universalSearch {
  font-family: Open-sans,sans-serif;
  position: absolute;
  right: 0;
  top: 0.5em;
  z-index: 5;
  min-width: 400px;
  max-width: 430px;
  margin-left: 60px;
}
.universalSearchForm {
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
.universalSearchForm > div > span > button {
  margin-right:-1px;
}
.autocompleteTitle {
  margin: 0 10px 5px;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color:#000;
}

.misspelling {
  font-size: 65%;
  font-style: italic;
}

#taxaSearch > span > .tt-dropdown-menu {
  margin-top: -10px;
  min-width: 300px;
}

.tab-pane {
  margin-top: 1em;
}
.nav-tabs > li {
  font-size: 11px;
}
.nav-tabs > li > a {
  color: #777;
}
.occurrenceTabRow {
  width: 100%;
}
.itallics {
  font-style: italic;
}

.navbar-text {
  margin:0;
  margin-top:2px;
  font-size: 0.8em;
}

.navbar-nav {
  margin-left:15px;
}

.navbar-right {
  height:40px;
}

#waiting {
  color: #777;
  position: absolute;
  width:330px;
  top:36%;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}

.dataSource {
  text-align: center;
  line-height: 0.8em;
}

.dataSource > a > img {
  height:105px;
}

.dataSource > p {
  margin-top:10px;
}

.dataSource > .text-muted {
  line-height: 0.3em;
  font-size: 0.8em;
}

.mugshot {
  text-align: center;
  line-height: 0.8em;
}

.mugshot > a > img {
  height:155px;
  border-radius: 155px;
}

.mugshot > p {
  margin-top:10px;
}

.mugshot > .text-muted {
  line-height: 1.2em;
}

#downloadModalHeader {
  border-bottom: 0;
}

.downloadTab {
  font-size: 1.35em !important;
}

.downloadTab > a > i {
  margin-right: 6px;
}

#downloadModalContent {
  margin-top: -40px;
}

#downloadOpts {
  padding:20px;
}
.downloadOptions {
  padding-left: 20px;
}

#downloadCount {
  font-size: 0.6em;
  font-style: italic;
  margin: 0;
  display: none;
}

/* Diversity curve styles */
#diversity {
  margin-left: -40px;
  text-align: center;
}
#diversityGraph {
  padding-top: 20px;
  font-family: Helvetica,sans-serif;
  font-weight: 100;
  font-size: .8em;
  color: #333;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width:2px;
  shape-rendering: crispEdges;
}
.y.axis > text {
  font-size: 2.2em;
  letter-spacing: 8px;
}
.tick > text {
  font-size: 3em;
  fill: rgb(119, 119, 119);
}

.tick > line {
  stroke-width: 0.2em;
  stroke: #777;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.diversityLine {
  stroke-width:4px;
  stroke: #777;
}

.dFullName, .abbreviation {
  font-size: 2.4em;
}

/*-----------------*/

.downloadButton {
  margin:3px;
}

#licenseDownload {
  font-size: 0.8em;
}

.list-no-bullet {
  list-style-type:none;
  margin-left:-20px;
}

.occurrenceContainer {
  margin-left:-20px;
}

.phylum {
  font-size: 1.6em;
}

.class {
  font-size: 1.4em;
}

.family {
  font-size: 1.2em;
}

#taxaBrowserNavbar {
  display: none;
}
#getUrlNavbar {
  display: none;
}
@media(max-width: 1050px) {
  .examples>button> img {
    height: 60px;
  }
  .examples > button {
    padding:20px;
  }
  .mugshot > a > img {
    height:95px;
    border-radius: 150px;
  }
}
@media(max-width: 890px) {
  .examples>button> img {
    height: 50px;
  }
  .examples > button {
    padding: 15px;
  }
  .mugshot > a > img {
    height:80px;
    border-radius: 150px;
  }
}
@media(max-width: 800px) {
  .examples>button> img {
    height: 32px;
  }
  .examples > button {
    padding: 10px;
  }
  .dataSource > a > img {
    height:80px;
  }
}
@media(max-width: 700px) {
  #graphicRow {
    margin-top: 30px;
  }
  .mapCtrl {
    display: none;
  }
  .prevalence-row {
    display: none;
  }
  #infoContainer {
    display: none;
  }
  #loading {
    left: 0;
    top: 0.1em;
  }
  .timeScale {
    visibility: hidden;
  }
  .navbar-text.help {
    display: none;
  }
  .navbar-text {
    font-size: 1.3em;
    float:right;
    margin-right:10px;
  }
  #taxaBrowserNavbar {
    display: block;
  }
  #getUrlNavbar {
    display: block;
  }
  #downloadDataTab {
    display: none;
  }
  #downloadData {
    display: none;
  }
}
@media screen and (max-width: 580px) {
  #helpModalContent {
    box-shadow: none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
  }
  .universalSearch {
    position: relative;
    padding-bottom: 15px;
    float:right;
    width:105%;
    min-width: 0;
  }
  .pull-right {
    clear:right;
    margin-right: 1em;
    line-height: 0;
  }
  .navbar-collapse {
    overflow: hidden;
  }
  .nav > li {
    clear: both;
  }
  .mugshot > a > img {
    height:105px;
    border-radius: 120px;
  }
  .dataSourceTitle {
    line-height: 1em;
  }
  .dataSource > .text-muted {
    line-height: 1.2em;
  }
}